/.jsdtscope
/org.eclipse.wst.jsdt.ui.superType.name
/org.eclipse.wst.jsdt.ui.superType.container
/org.eclipse.wst.common.project.facet.core.xml
/org.eclipse.wst.common.component
/org.eclipse.jdt.core.prefs
